body{
    background-color: #f4f4f4;
}
.play_container{
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    margin: 40px auto 0 auto;
    background-image: url(../images/background.png);
    background-size: cover;
    overflow: hidden;
    cursor: url('../images/crosshair.png') 30 30, crosshair;
    
}
#backgroundgrass{
    z-index: 3;
    width: 800px;
    position: absolute;
}
#duck{
    z-index: 6;
    position: absolute;
    width: 90px;
    left: -140;
    top: 50px;
}
#dog{
    z-index: 4;
    left: -140;
    top: 280px;
    position: absolute;
    width: 130px;
    /* transform: rotateY(180deg); */
}
#stats_id{
    margin-top: 5px;
    margin-left: 5px;
}
.stats{
    display: inline-block;
    width: 100px;
}

#startbutton {
    z-index: 5;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
    position: absolute;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    margin: 70 300 0 300;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
